[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.9"
